<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

    <!--按顺序配置
        |——————1配置数据库信息
        |——————2配置hibernate
        |——————3配置实体映射
    -->

    <!--    1配置数据库信息-->
    <property name="connection.url">jdbc:mysql://localhost:3306/hibernate?useUnicode=true&amp;characterEncoding=utf-8 </property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">123456</property>
    <!--2配置hibernate信息-->
    <!--|   输出SQL语句-->
    <property name="hibernate.show_sql">true</property>
    <!--|   输出底层SQL语句-->
    <property name="hibernate.format_sql">true</property>
    <!--|  配置update,如果表没有则创建表，有的话更新表-->
    <property name="hibernate.hbm2ddl.auto">update</property>
    <!--|  配置数据库方言-->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

<!--    事务的隔离级别1：ReadUncommit 2,ReadCommit,4Repeatable Read 8,Serializable-->
    <property name="hibernate.connection.isolation">4</property>

    <!--配置绑定线程-->
    <property name="hibernate.current_session_context_class">thread</property>



    <!--3配置hibernate信息-->
    <!--mapping class 视频上好像不用-->
    <mapping resource="User.hbm.xml"/>
    <mapping class="cn.xqrcloud.entity.User"/>
    <mapping resource="Person.hbm.xml"/>
    <mapping class="cn.xqrcloud.entity.Person"/>

    <mapping resource="Customer.hbm.xml"/>
    <mapping resource="LinkMan.hbm.xml"/>



  </session-factory>
</hibernate-configuration>